<style>
.header{
    height:100px;
    width:100%;
    border-bottom:2px solid black;
}
.logo{
    display:inline-block;
}
.greeting{
    display:inline-block;
    margin-left:20%;
    padding-right:20px;
}
.lft{
    display:inline-block;
    
    padding-right:20px;
}
.link{
    display:inline-block;
}
</style>

<div class=header>
    <h2 class="logo">Dojo Activity Center</h2>
    <h5 class="greeting">Welcome @ViewBag.fname</h5>
    <a class="lft" href="/activity_center">Home</a>
    <a class="link" href="/logout">Log off</a>
</div>